body{
    background: #F9F09F;
    font-family: 'Oregano', cursive;
}

h1{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #A16F38;
    font-size: 7em;
    letter-spacing: 0.03em;
    word-spacing: 0.5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #A16F38;
}

.trio-holder {
    
    margin-left: 4rem;
    margin-bottom: 2rem;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.trio-holder img{
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    margin-right: 4rem;
}

.article-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: #F9DAD9;
    border-radius: 20px;
    height:auto;
    width: 88vw;
   
   
}

.article-container div{

    display: flex;
    flex-direction: column;
    margin: 2rem;
    /* width: 35vw;
    height: auto; */
    text-align: center;
    align-items: center;

}

.article-container div img{
    /* width:100%;
    height: auto; */
    border-radius: 20px;
      
}

.article-name{
    background: #EC7980;
    border-radius: 20px;
    font-size: 2.5rem;
    color: #FFF691;
    width: 80%;
    z-index: 1;
}

.article-date{
    background: #E0EFE1;
    border-radius: 10px;
    font-size: 2rem;
    color: #A16F38;
    width: 90%;
    z-index: 1;  
}

.selected img{
    margin: -10px;
    border: 10px #FFF691  solid;
    z-index: 0;
}

.article-container a{
    text-decoration: none;
    outline: none;
    
}

.vertical{
 /* overflow-y: hidden; */

}

.vertical img{
   /* transform: rotate(20deg);   */
    
}

.vertical .article-name{
    /* width: 82%; */
   
}

.vertical .article-date{
    /* width: 82%; */
   
}